<p>
  <b>Comments</b><br />
  <% @post.comments.each do |comment| %>
    <p>
    <%= comment.user.email %> says:
      <%= comment.comment_body %> 
      <% if comment.user.id == current_user.id %>
        <%= link_to 'Delete', [comment.post, comment],
                                     :confirm => 'Are you sure?',
                                     :method => :delete %>
      <% end %>
       <br />
    </p>
  <% end %>

</p> 
